# Data read

In [12]:
import pandas as pd
import numpy as np                     # For mathematical calculations
import seaborn as sns                  # For data visualization
import matplotlib.pyplot as plt        # For plotting graphs
%matplotlib inline
import warnings                        # To ignore any warnings
warnings.filterwarnings("ignore")

In [18]:
test=pd.read_csv(r"C:\Users\anupr\Desktop\Predict Blood Donations\test.csv")
train=pd.read_csv(r"C:\Users\anupr\Desktop\Predict Blood Donations\train.csv")

In [19]:
train.head(10)

,id,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.)cubuc centimeters,Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0
5,335,4,4,1000,4,0
6,47,2,7,1750,14,1
7,164,1,12,3000,35,0
8,736,5,46,11500,98,1
9,436,0,3,750,4,0

In [20]:
test.head(10)

,id,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.)cubuc centimeters,Months since First Donation
0,659,2,3,3000,52
1,276,21,22,1750,38
2,263,4,5,250,4
3,303,11,12,2750,38
4,83,4,5,3000,34
5,500,3,4,5250,42
6,530,4,5,500,4
7,244,14,15,250,14
8,249,23,24,500,87
9,728,14,15,1000,64

In [21]:
train_original=train.copy()
test_original=test.copy()

In [22]:
train.columns

Index(['id', 'Months since Last Donation', 'Number of Donations',
       'Total Volume Donated (c.c.)cubuc centimeters',
       'Months since First Donation', 'Made Donation in March 2007'],
      dtype='object')

In [23]:
test.columns

Index(['id', 'Months since Last Donation', 'Number of Donations',
       'Total Volume Donated (c.c.)cubuc centimeters',
       'Months since First Donation'],
      dtype='object')

In [24]:
# Print data types for each variable
train.dtypes

id                                              int64
Months since Last Donation                      int64
Number of Donations                             int64
Total Volume Donated (c.c.)cubuc centimeters    int64
Months since First Donation                     int64
Made Donation in March 2007                     int64
dtype: object

In [25]:
test.dtypes

id                                              int64
Months since Last Donation                      int64
Number of Donations                             int64
Total Volume Donated (c.c.)cubuc centimeters    int64
Months since First Donation                     int64
dtype: object

In [26]:
train.shape, test.shape

((576, 6), (200, 5))

In [28]:
train['Made Donation in March 2007'].value_counts()

0    438
1    138
Name: Made Donation in March 2007, dtype: int64